#undo, #redo {
	border: 1px solid #d6e9c6;
	background-color: #dff0d8;
}

#delete {
	border: 1px solid #ebccd1;
   	background-color: #f2dede;
}

#clear, #copy {
	border: 1px solid #bce8f1;
 	background-color: #d9edf7;
}

#replace {
	border: 1px solid #faebcc;
	background-color: #fcf8e3;
}

#field {
	height: 400px;
}

.btn {
	margin-top: 5px;
}

.btn-help {
	margin-top: 10px;
	margin-left: -15px;
	margin-bottom: 10px;
}

.btn-help > input {
	width: 210px;
}