#slide-container {
    width: 600px;
    height: 400px;
    outline: 1px solid;
    margin: 0 auto;

}

#slide-container img {
    width: 600px;
    height: 400px;
}

.help-block {
    color: red;
}
