<h1>Sign In Page</h1>

<form>
  <label>First Name:</label>
  <input type="text" name="userFirstName" ng-model="user.firstName" required />
  <br>

  <label>Last Name:</label>
  <input type="text" name="userLastName" ng-model="user.lastName" required />
  <br>

  <label>Email Address:</label>
  <input type="email" name="userEmail" ng-model="user.email" required />
  <br>

  <label>Phone Number:</label>
  <input type="email" name="userPhoneNumber" ng-model="user.phoneNumber" required />
  <br>

  <label>User Message:</label>
  <textarea type="text" name="userMessage" ng-model="user.message" required></textarea>
  <br>
</form>
